

.login {
    display: flex;
    justify-content: space-around;
    background-color: aliceblue;
    height: 100vh;
}

.loginInfo {
    margin-top: 80px;
}

.loginForm {
    background-color: navy;
    height: 400px;
    width: 300px;
    position: relative;
    top: 40px;
    right: 40px;
    border-radius: 3%;
}

.loginForm input{
    width: 200px;
    height: 30px;
    display: block;
    margin-top: 40px;
    margin-left: 10px;
}



.loginForm label{
    color: white;
    font-weight: bold;
    text-align: left;
    display: block;
    margin-top: 50px;
    position: relative;
    top: 30px;
    margin-left: 10px;
}

.loginForm div {
    margin-top: 50px;
    margin-left: 20px;
}